<p id="notice"><%= notice %></p>

<h1>Listing Car Infos</h1>

<%= link_to '新規登録', new_car_info_path %><br>

<br>

<%= search_form_for @search do |f| %>
  <%= f.label :number_eq, 'number' %>
  <%= f.text_field :number_eq %>
  <%= f.label :owner_cont, 'owner' %>
  <%= f.text_field :owner_cont %>
  <%= f.submit 'Search' %>
<% end %>

<hr>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @car_infos.each do |car_info| %>
      <tr>
        <td><%= car_info.number %></td>
        <td><%= car_info.owner %></td>
        <td><%= link_to 'Show', car_info %></td>
        <td><%= link_to 'Edit', edit_car_info_path(car_info) %></td>
        <td><%= link_to 'Destroy', car_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'TOP', top_index_path %>
